.searchItem{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
    padding: 16px 16px;
    background-color: white    
}
.searchItem_img{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchItem_img img{
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin-right: 16px;
}
.searchItem_text{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.searchItem_price{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 32px;
}
.searchItem_desc{
    font-size: 18px;
}
sup{
    font-size: 45%
}
.shipp{
    width: 20px;
    height: 20px;
    margin-left: 10px
}
.searchItem_location{
    width: 20%;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
}